<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankApp.productsClientAccount.home.title">Client Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client-account" [routerLink]="['/client-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bankApp.productsClientAccount.home.createLabel">
            Create a new Client Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientAccounts?.length === 0">
        <span jhiTranslate="bankApp.productsClientAccount.home.notFound">No clientAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientAccounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iban"><span jhiTranslate="bankApp.productsClientAccount.iban">Iban</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="bankApp.productsClientAccount.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ballance"><span jhiTranslate="bankApp.productsClientAccount.ballance">Ballance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type.name"><span jhiTranslate="bankApp.productsClientAccount.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clientAccount of clientAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/client-account', clientAccount.id, 'view']">{{ clientAccount.id }}</a></td>
                    <td>{{ clientAccount.iban }}</td>
                    <td>{{ clientAccount.name }}</td>
                    <td>{{ clientAccount.ballance }}</td>
                    <td>
                        <div *ngIf="clientAccount.type">
                            <a [routerLink]="['/product', clientAccount.type?.id, 'view']" >{{ clientAccount.type?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client-account', clientAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client-account', clientAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clientAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clientAccounts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
