<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clientAccount">
            <h2><span jhiTranslate="bankApp.productsClientAccount.detail.title">Client Account</span> {{ clientAccount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bankApp.productsClientAccount.customerID">Customer ID</span></dt>
                <dd>
                    <span>{{ clientAccount.customerID }}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.productsClientAccount.iban">Iban</span></dt>
                <dd>
                    <span>{{ clientAccount.iban }}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.productsClientAccount.name">Name</span></dt>
                <dd>
                    <span>{{ clientAccount.name }}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.productsClientAccount.ballance">Ballance</span></dt>
                <dd>
                    <span>{{ clientAccount.ballance }}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.productsClientAccount.userId">User Id</span></dt>
                <dd>
                    <span>{{ clientAccount.userId }}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.productsClientAccount.type">Type</span></dt>
                <dd>
                    <div *ngIf="clientAccount.type">
                        <a [routerLink]="['/product', clientAccount.type?.id, 'view']">{{ clientAccount.type?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-account', clientAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
