<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-account-heading" jhiTranslate="bankApp.productsClientAccount.home.createOrEditLabel">Create or edit a Client Account</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.productsClientAccount.iban" for="field_iban">Iban</label>
                    <input type="text" class="form-control" name="iban" id="field_iban"
                           formControlName="iban"/>
                    <div *ngIf="editForm.get('iban')!.invalid && (editForm.get('iban')!.dirty || editForm.get('iban')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iban')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.productsClientAccount.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.productsClientAccount.ballance" for="field_ballance">Ballance</label>
                    <input type="number" class="form-control" name="ballance" id="field_ballance"
                           formControlName="ballance"/>
                    <div *ngIf="editForm.get('ballance')!.invalid && (editForm.get('ballance')!.dirty || editForm.get('ballance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ballance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ballance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.productsClientAccount.user" for="field_user">User Id</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                           formControlName="user" readonly/>
                    <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('user')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('user')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.productsClientAccount.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="type">
                        <option *ngIf="!editForm.get('type')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="productOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : productOption" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
